.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#projeck {
      background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
.social-icons a {
  position: relative;
  height: 40px;
  width: 40px;
  margin: 0 5px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
}
.social-icons a {
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
}
.social-icons {
  margin: 15px 0 25px 0;
}
.social-icons a:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 5px #ceced1;
}
.social-icons a i{
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.social-icons a.fb i{
  color: #4267B2;
}
.social-icons a.twitter i{
  color: #1DA1F2;
}
.social-icons a.insta i{
  color: #E1306C;
}
.social-icons a.yt i{
  color: #ff0000;
}